{% load static %}
<html>
    <head>
        <title>library management system</title>
        <style>
            body{
				margin: 0;
				padding: 0;
				background-image: url('{% static "book4.jpg"%}');
				background-repeat: no-repeat;
				background-size: cover;
				
 				}
			a {
				background-color: rgb(36, 27, 27);
				color: white;
				padding: 1em 1.5em;
				text-decoration: none;
				text-transform: uppercase;
				}

        </style>
    </head>
    <body>
        <a href="">Book manage</a>
        <a href="">Reader manage</a>
    </body>
</html>