<html>
    <head>
        <title>welcome</title>
        <style>
            body  
            {  
                background-color:#6abadeba;  
                font-family: 'Arial';  
            }
            h2
            {  
                text-align: center; 
                color: #135561;  
            }
        </style>
    </head>
   
    <body>
        {% for m in messages%}
            <h4>{{m}}</h4>
         {%endfor%}

         <h2><br>Logged in successful<br><br>
             welcome to library managemenent system....</h2>
    </body>
</html>