{% extends "loginmodule/base.html" %}
{% load static %}

{% block title %}
    library management system
{% endblock title %}


{% block style %}
<style type="text/css">
    a {
        background-color: rgb(36, 27, 27);
        color: white;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;
    }
</style>
{% endblock style %}

{% block body %}
    <a href="">
        Book manage
    </a>
    <a href="">
        Reader manage
    </a>
{% endblock body %}