{% extends 'loginmodule/base.html' %}
{% load static %}

{% block title %}
	<title>Home</title>
{% endblock title %}

{% block body %}
	<div class="quote">
		<h1>Library Management System</h1>
		<p>"One Best Book is equal to Hundred Good Friends, One Good Friend is equal to a Library" </p> 
		<div class="a">- Dr. A.P.J. Abdul Kalam</div>
	</div>
{% endblock body %}

{% block navbarLinks %}
	<a class="nav-link" href="{% url 'loginmodule:register' %}">Register</a>
	<a class="nav-link" href="{% url 'loginmodule:login' %}">Login</a>
{% endblock navbarLinks %}