{% extends "loginmodule/base.html" %}

{% block title %}
    Library Management System
{% endblock title %}

{% block body %}
    <div class = "homebox">
        <h1 align="center">Welcome</h1> 
        <h2 align="center">To</h2> 
        <h1 align="center">Library Management System</h1><br>
        <table align="center">
            <tr>
                <td>
                <div class="container_login">
                    <h4 >If you have an already account : </h4> <a href="/login">Login</a>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                <div class="container_login">
                    <h4>If you haven't account </h4> <a href="/register">register</a>
                </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}

{% block style %}
    <style>
            body  
            {  
                background-color:#6abadeba;  
                font-family: 'Arial';  
            }
            .container_login
            {
                width: 100%;
                padding: 5px;
                margin:5px;
               
                border: none;
                font-size: x-large;
            }
            .homebox
            {  
                width: 582px;  
                overflow: hidden;  
                margin: auto;  
                margin: 20 0 0 450px;  
                padding: 40px;  
                background: #70918b;  
                border-radius: 15px ;  
             }
        </style>
{% endblock style %}