{% extends 'loginmodule/base.html' %}
{% load static %}

{% block body %}

{% if messages %}
{% for message in messages%}
{% if message.tags == 'error' %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
{% else %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
{% endif %}
  <strong>
	    {{ message }}
  </strong>
{%endfor%}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="register-box">
	<form action="" method="POST"  id="loginbox">
	{% csrf_token %}
	<h1>Registration here</h1>
	<p>Username:</p> 
	<input type="text" name="username" id="username" placeholder="Enter name here"/>
	<br><br>
	<p>First name: </p>
	<input type="text" name="fname" id="fname" placeholder="Enter first name here"/>
	<br><br>
	<p>Last name: </p>
	<input type="text" name="lname" id="lname" placeholder="Enter last name here"/>
	<br><br>
	<p>E-mail: </p>
	<input type="email" name="email" id="e-mail" placeholder="Enter emailID here"/>
	<br><br>
	<p>Password: </p>
	<input type="password" name="password" id="password" placeholder="Enter password here"/>
	<br><br>
	<p>Re-enter password: </p>
	<input type="password" name="repassword" id="repassword" placeholder="Re-enter password here"/>
	<br><br><br>
	<input type="submit" name="submit" id="submit" value="Register"/>
	</form>
</div>
{% endblock body %}

{% block navbarLinks %}
	<a class="nav-link" href="{% url 'loginmodule:login' %}">Login</a>
{% endblock navbarLinks %}

{% block style %}
<style>
			.register-box{
				width: 320px;
				height: 420px;
				top: 30%;
				left: 20%;
				position: absolute;
				transform: translate(-50%,-50%);
				box-sizing: border-box;

			}
			h1{
				margin: 0;
				padding: 0 0 30px;
				text-align: center;
				font-size: 38px;
			}
			.register-box p{
				margin: 0;
				padding: 0;
				font-weight: bold;
				font-size: 22px;
			}
			.register-box input{
				width: 100%;
				margin-bottom: 18px;
			}
			.register-box input[type="text"],input[type="password"],input[type="email"]
			{
				border: none;
				border-bottom: 1px solid rgb(0, 0, 0);
				background: transparent;
				outline: none;
				height: 30px;
				font-size: 15px ;

			}
			.register-box input[type="submit"]
			{
				border: none;
				outline: none;
				height: 40px;
				font-size: 18px;
				border-radius: 20px;
				background-color: rgb(62, 47, 63);
				
			}
			.register-box input[type="submit"]:hover
			{
				cursor: pointer;
				box-shadow: 0 0 10px 0 rgb(62, 47, 63) inset, 0 0 10px 4px rgb(144, 133, 129);
			}
			::placeholder
			{
				color: rgb(21, 36, 68);
			}
		</style>
{% endblock style %}