{% extends 'loginmodule/base.html' %}
{% load static %}

{% block title %}
	<title>Register</title>
{% endblock title %}
		
{% block body %}
	<form action="" method="POST" class="Register-form">
		<h1>Registration here</h1>
		{% csrf_token %}
		
		<div class="mb-3">
		<b>
				<label class="form-label">Username</label>
				<input type="text" class="form-control" name="username" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Firstname</label>
				<input type="password" class="form-control" name="fname" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Last name</label>
				<input type="password" class="form-control" name="lname" required>
			</div>
			<div class="mb-3">
				<label class="form-label">E-mail Id</label>
				<input type="password" class="form-control" name="email" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Password</label>
				<input type="password" class="form-control" name="password" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Confirm Password</label>
				<input type="password" class="form-control" name="repassword" required>
			</div>
			
		</b>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
{% endblock body %}

{% block navbarLinks %}
	<a class="nav-link" href="{% url 'loginmodule:register' %}">Register</a>
{% endblock navbarLinks %}

{% block style %}
<style>
	.Register-form input {
		background: transparent;
	}

	.Register-form{
		width: 320px;
		height: 420px;
		top: 50%;
		left: 20%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
    }
	h1{
		margin: 0;
		padding: 0 0 30px;
		text-align: center;
		font-size: 38px;
	}
</style>	
{% endblock style %}