{% load static %}
<html>
    <head>
        <title>library management system</title>
        <style>
            #logo {
                background-image: url('{% static "book1.jpg"%}');
                display: block;
                margin: 0 auto;
                text-indent: -9999px;
                width: 100px;
                height: 100pxx;
                }
        </style>
    </head>
    <body>
        <a href="">Book manage</a>
        <a href="">Reader manage</a>
        <a href="http://home.com" id="logo">Your logo name</a>
    </body>
</html>