{% extends 'loginmodule/base.html' %}
<title>library management system</title>

{% block navbarLinks %}
	<a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
	<a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
	<a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
	<a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
	<a class="nav-link" href="#">Show fine</a>
	<a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}