{% extends 'loginmodule/base.html' %}
<title>library management system</title>

{% block title %}
	<title>Welcome</title>
{% endblock title %}

{% block navbarLinks %}
	{% if request.session.superuser %}
		<a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
		<a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
	{% else %}
		<a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
		<a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
		<a class="nav-link" href="{% url 'Bookmodule:showFine' %}">Show fine</a>
	{% endif %}
		<a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}