{% extends 'loginmodule/base.html' %}
{% load static %}
<title>Add Book</title>

{% block body %}
<form method="POST" class="add-book-form">
	{% csrf_token %}
	<b>
		<div class="mb-3">
			<label class="form-label">Book name</label>
			<input type="text" class="form-control" name="book_name">
		</div>
		<div class="mb-3">
			<label class="form-label">Author name</label>
			<input type="text" class="form-control" name="author_name">
		</div>
		<div class="mb-3">
			<label class="form-label">Publish_year</label>
			<input type="text" class="form-control" name="publish_year">
		</div>
	</b>
	<button type="submit" class="btn btn-primary">Add Book</button>
</form>
{% endblock body %}

{% block navbarLinks %}
	{% if request.session.superuser %}
		<a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
		<a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
	{% else %}
		<a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
		<a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
		<a class="nav-link" href="{% url 'Bookmodule:showFine' %}">Show fine</a>
	{% endif %}
		<a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}

{% block style %}
<style>
	.add-book-form{
		width: 320px;
		height: 420px;
		top: 50%;
		left: 20%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
    }
	
	.add-book-form input {
		background: transparent;
	}

</style>
{% endblock style %}