{% extends 'loginmodule/base.html' %}
{% load static %}
<title>issue book page</title>

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>
  	{% for message in messages%}
	    {{ message }}
	{%endfor%}
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
		
{% block body %}
<div class="book-box">
	<form action=" " method="POST">
		{% csrf_token %}
		<h1>Issue Book</h1>
        <p>Book id</p>
		<input type="text" name="book_id" placeholder="Enter book id here"/>
		<br><br><br>
		<input type="submit" id="addbook" name="addbook"/>
	</form>
</div>
{% endblock body %}

{% block navbarLinks %}
	<a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
	<a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
	<a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
	<a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
	<a class="nav-link" href="#">Show fine</a>
	<a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}

{% block style %}
<style>
	.book-box{
		width: 320px;
		height: 420px;
		top: 50%;
		left: 20%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
    }
	h1{
		margin: 0;
		padding: 0 0 40px;
		text-align: center;
		font-size: 38px;
	}
	.book-box p{
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 22px;
	}
	.book-box input{
		width: 100%;
		margin-bottom: 20px;
	}
	.book-box input[type="text"]
	{
		border: none;
		border-bottom: 1px solid rgb(0, 0, 0);
		background: transparent;
		outline: none;
		height: 40px;
		font-size: 18px ;

	}
	.book-box input[type="submit"]
	{
		border: none;
		outline: none;
		height: 40px;
		font-size: 18px;
		border-radius: 20px;
		background-color: rgb(62, 47, 63);
	}
	.book-box input[type="submit"]:hover
	{
		cursor: pointer;
        box-shadow: 0 0 10px 0 rgb(62, 47, 63) inset, 0 0 10px 10px rgb(144, 133, 129);
	}
	::placeholder
	{
		color: rgb(21, 36, 68);
	}
</style>	
{% endblock style %}