{% extends 'loginmodule/base.html' %}
{% load static %}
<title>Issue Book</title>

{% block body %}
<div class="search_box bg-dark"> 
  <form action="{% url 'Bookmodule:issueBook' %}" class="form-inline" method="GET">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" >
    <select class="form-select" style="width: 279px;" name="search_category">
      <option selected>All</option>
      <option value="book_id">Book id</option>
      <option value="book_name">Book name</option>
      <option value="author_name">Author name</option>
    </select>
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</div>

<form action="{% url 'Bookmodule:issueBook' %}" method="POST">
{% csrf_token %}
<div class="book-table text-center">
<table class="table" style="vertical-align: middle;">
  <tr>
    <th scope="col">Book Id</th>
    <th scope="col">Book name</th>
    <th scope="col">Author name</th>
    <th scope="col">Publish year</th>
    <th scope="col">Add Item</th>
  </tr>
  <tr>
    {% for book in books %}
    <th>{{book.book_id}}</th>
    <th>{{book.book_name}}</th>
    <th>{{book.author_name}}</th>
    <th>{{book.publish_year}}</th>
	<th><button type="submit" class="btn btn-primary" value="{{ book.book_id }}" name="book_id">Add</button></th>
  </tr>
  {% endfor %}
</table>
</div>
</form>
{% endblock body %}

{% block navbarLinks %}
  {% if request.session.superuser %}
    <a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
    <a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
  {% else %}
    <a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
    <a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
    <a class="nav-link" href="{% url 'Bookmodule:showFine' %}">Show fine</a>
  {% endif %}
    <a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}

{% block style %}
<style>
  .search_box {
    padding: 15px;
  }

  .search_box form{
    display: flex;
    flex-direction: row;
  }

  .book-table {
    margin-top: 7px;
  }
</style>
{% endblock style%}