{% extends 'loginmodule/base.html' %}

{% block title %}
	<title>Return Book</title>
{% endblock title %}

{% block body %}

<div class="book-table text-center">
<table class="table" style="vertical-align: middle;">
  <tr>
    <th scope="col">Book Id</th>
    <th scope="col">Return date</th>
    <th scope="col">Book name</th>
    <th scope="col">Author name</th>
    <th scope="col">Publish year</th>
    <th scope="col">Add Item</th>
  </tr>
  
	{% for book,issue_date in books %}
	<!-- <form action="{% url 'Bookmodule:returnBook' %}" method="POST"> -->
	<!-- {% csrf_token %} -->
	<tr>
	<th>{{book.book_id}}</th>
	<th>{{issue_date}}</th>
	<th>{{book.book_name}}</th>
	<th>{{book.author_name}}</th>
	<th>{{book.publish_year}}</th>
	<th><button type="submit" class="btn btn-primary" id="return{{ book.book_id }}" value="{{ book.book_id }}" name="book_id">Return</button></th>
	</tr>
	<!-- </form> -->
	{% endfor %}
  	
</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript">
    $('.btn').click(function(){
    var book_id;
    book_id = $(this).attr("value");
    $.ajax(
    {
        type:"POST",
        url: "{% url 'Bookmodule:returnBook' %}",
        data:{
            book_id: book_id,
            csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function( data ) 
        {
        	console.log(data);
            $( '#return'+ book_id ).parent().parent().remove();
            $( '#message' ).text(data);
        }
     })
	});
</script>

{% endblock body %}

{% block navbarLinks %}
	{% if request.session.superuser %}
		<a class="nav-link" href="{% url 'Bookmodule:addBook' %}">Add book</a>
		<a class="nav-link" href="{% url 'Bookmodule:removeBook' %}">Remove book</a>
	{% else %}
		<a class="nav-link" href="{% url 'Bookmodule:issueBook' %}">Issue book</a>
		<a class="nav-link" href="{% url 'Bookmodule:returnBook' %}">Return book</a>
		<a class="nav-link" href="{% url 'Bookmodule:showFine' %}">Show fine</a>
	{% endif %}
		<a class="nav-link" href="{% url 'loginmodule:logout' %}">Logout</a>
{% endblock navbarLinks %}

{% block style %}
<style>
	.book-box{
		width: 320px;
		height: 420px;
		top: 50%;
		left: 20%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
    }
	h1{
		margin: 0;
		padding: 0 0 40px;
		text-align: center;
		font-size: 38px;
	}
	.book-box p{
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 22px;
	}
	.book-box input{
		width: 100%;
		margin-bottom: 20px;
	}
	.book-box input[type="text"]
	{
		border: none;
		border-bottom: 1px solid rgb(0, 0, 0);
		background: transparent;
		outline: none;
		height: 40px;
		font-size: 18px ;

	}
	.book-box input[type="submit"]
	{
		border: none;
		outline: none;
		height: 40px;
		font-size: 18px;
		border-radius: 20px;
		background-color: rgb(62, 47, 63);
	}
	.book-box input[type="submit"]:hover
	{
		cursor: pointer;
        box-shadow: 0 0 10px 0 rgb(62, 47, 63) inset, 0 0 10px 10px rgb(144, 133, 129);
	}
	::placeholder
	{
		color: rgb(21, 36, 68);
	}
</style>
{% endblock style %}